body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.section-one {
    background-color: #1F2937;
}

.header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-right: auto;
    align-items: center;
    padding: 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin-bottom: -8px;
}

p {
    font-size: 18px;
    color:#E5E7EB;
}

.container-one {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
    margin-right: 40px;
}

.container-text {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 0;
    
}

.container-photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
}

.img-one {
    width: 100%;
    object-fit: scale-down;
}

.button-one, 
.button-two {
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px 14px;
    width: 100px;
    font-weight: 700;
    text-align: center;
}

.button-one {
    border: 1px solid #3882F6;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.img-container {
    display: flex;
}

.img-info {
    display: flex;
    flex-direction: column;
    flex: 0;
    width: 100px;
    gap: 8px;
    flex-wrap: wrap;
}

.img {
    border-radius: 5px;
    border: 3px solid #3882F6;
    object-fit: scale-down;
}

figcaption.text {
    color: #1F2937;
    font-size: 14px;
    text-align: center;
}

.section-three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    padding: 40px 140px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    text-align: right;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 60px;
    margin-right: 150px;
}

.section-four {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 5px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    padding: 30px 120px;
}

.action-container {
    color:#E5E7EB;
}

.action {
    font-size: 20px;
    font-weight: bolder;
}

.sign-up {
    font-weight: lighter;
}

.button-two {
    border: 1px solid #E5E7EB;
}

.footer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: #1F2937;
    color:#E5E7EB;
}